.list {
  padding-top: 3.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.3rem, 1fr));
  gap: 2.2rem;
}


.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  font-size: 1.8rem;
  color: var(--text-night-primary);
  border-radius: var(--border-radius-2);
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  font-size: 1.6rem;
  color: var(--system-error);
  border: 1px solid var(--system-error);
  border-radius: var(--border-radius-2);
}