.nav {
  font-weight: var(--fontWeight-4);
  line-height: 4.4rem;
  color: var(--text-night-quaternary);
  transition: color linear .1s;
}

.navList {
  display: flex;
  place-items: center;
}

.navListLink {
  transition: var(--transition);

  &:hover {
    color: var(--text-night-primary);
  }

  &:focus {
    color: var(--text-night-primary);
  }
}

.activeLink {
  position: relative;
  color: var(--system-pure-white);
  cursor: text;

  &::before {
    position: absolute;
    content: '';
    height: .2rem;
    width: 100%;
    background-color: var(--brand-accent);
    bottom: -.5rem;
  }
}