.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: var(--spacing-6) var(--spacing-7);
  font-weight: var(--fontWeight-2);
  background-color: var(--neutrals-800);
  border-radius: var(--border-radius-2);
  transition: color var(--transition);
  color: var(--system-pure-white);
  height: 4rem;

  & > svg {
    color: var(--text-night-trietary);
    transition: all var(--transition);
  }

  &.btnWhite {

    & > svg {
      color: var(--system-pure-white);
      transition: all var(--transition);
    }
  }

  &:hover {
    background: rgba(255, 255, 255, .1);
  }

  &:hover:not(.favorites) {
    & > svg {
      color: var(--system-pure-white);
      opacity: .6;
    }
  }

  &:focus {
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.4);
  }
}

.iconLeft {
  margin-right: .5rem;
}