.LoginBtn {
  display: flex;
  place-items: center;
  gap: var(--spacing-6);
  font-weight: var(--fontWeight-2);
  color: var(--text-night-primary);
  transition: var(--transition);
  font-weight: var(--fontWeight-4);
  font-size: var(--fontSize-2);

  &:hover {
    color: var(--brand-accent);
  }
}