.list {
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  place-items: center;
  width: 32rem;
  color: var(--neutrals-400);
  padding: var(--spacing-6) var(--spacing-5);
  transition: color var(--transition);


  &:hover {
    color: var(--brand-accent);

    & .text {
      color: var(--brand-accent);
    }
  }
}

.text {
  color: var(--system-pure-white);
  font-size: var(--fontSize-2);
  margin-left: 1rem;
  transition: color var(--transition);
}